
.App {
  background-color: white;
}

.background {
  background-image: url('./images/Drawing.jpeg'); /* Replace 'path/to/your-image.jpg' with the actual path to your image file. */
  background-size: cover; /* Adjust the size of the background image. 'cover' will scale the image to cover the entire element. */
  background-repeat: no-repeat; /* Prevent the image from repeating. */
  background-attachment: fixed;
}

.logo {
  font-family: Impact, fantasy;
}

.Login-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Login-Form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Login-Form-Content {
  padding-left: 12%;
  padding-right: 12%;
}

.Login-Form-Title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.error {
  position: absolute;
  top: 37px; /* Adjust this value to position the error message as desired */
  left: 0;
  color: red;
  font-size: 10px;
}

.post-error {
  position: absolute;
  top: 140px; /* Adjust this value to position the error message as desired */
  left: 5;
  color: red;
  font-size: 10px;
}

.profile-error {
  position: absolute;
  top: 160px; /* Adjust this value to position the error message as desired */
  left: 200px;
  color: red;
  font-size: 10px;
}

.relative-container {
  position: relative;
}

.image {
  background-color: #aaa;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leftcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: white;
  padding: 20px;
  max-width: 800px;
  box-sizing: border-box;
  margin: 40px auto 20px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.cardBody {
  margin-top: -30px;
}

.postImage {
  margin-top: -20px;
}

.postPosterName {
  margin-top: 0px;
}
